[Unit]
Description=Heliocron Theme Scheduler for %i
After=graphical-session.target

[Service]
Type=simple
KillMode=process
Environment="QT_QPA_PLATFORM=wayland;xcb"
ExecStart=/bin/bash -c ' \
  source <(systemctl --user show-environment | sed "s/^/export /"); \
  EVENT=$(echo %i | cut -d- -f1); \
  THEME=$(echo %i | cut -d- -f2-); \
  /home/shinjungtae/.local/bin/toggle-theme-wrapper $EVENT $THEME'

Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
